@import '~node_modules/modern-normalize/modern-normalize.css';

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

// .card-link {
//   width: 540px;
//   height: 400px;
// }

.photo-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  // justify-content: space-evenly;
}
